* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, apple color emoji, segoe ui emoji, Segoe UI Symbol, noto color emoji;
    background-color: #eaeff1;
    padding-left: 15px;
    padding-right: 15px;
}

header {
    background-color: #eaeff1;
    position: sticky;
    top: 0;
    z-index: 999;
    padding-top: 5px;
    padding-bottom: 5px;

}

header img {
    display: inline;
    vertical-align: middle;
    width: 300px;
}

.header-text {
    margin-bottom: 15px;
}

#search {
    padding-bottom: 15px;
}

input {
    width: 200px;
}

label,
input {
    font-size: 1.15em;
    vertical-align: bottom;
}

button {
    appearance: none;
    -webkit-appearance: none;
    font-family: sans-serif;
    cursor: pointer;
    padding: 5px;
    min-width: 80px;
    border: 0px;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
    background: #356585;
    color: #ffffff;
    border-radius: 20px;
    margin-left: 10px;
}

.remove-filter a {
    font-size: .6em;
    padding-left: 10px;
    text-decoration: underline;
    cursor: pointer;
    color: inherit;
}

.links-container a {
    text-decoration: none;
    color: inherit
}

label {
    padding-right: 10px;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

article {
    background-color: #FFF;
    padding: 15px;
    border-radius: 30px;
}

article p {
    font-family: 'Lato';
}

.card {
    display: grid;
    /* grid-template-rows: max-content 230px 1fr; */
    background-color: #fff;
    /* padding: 10px; */
}


.card-image {
    /* object-fit: cover; */
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    height: 100%;
    padding: 12px;
}

.card-image img {
    border-radius: 10%;
    height: 150px;
    width: 150px;
}

.content {
    font-size: .95em;
    padding-bottom: 10px;
}

.tags {
    margin-bottom: 5px;
}

.links-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 2.2em;
}

.links-container a {
    padding: 15px;
    border-right: .5px solid #9999;
    border-left: .5px solid #9999;
}

.links-container a:hover {
    background-color: #dae4ff;
}

.links {
    text-align: center;
}

.w-5,
.h-5 {
    width: 1.25rem;
    height: 1.25rem;
}

.tag {
    pointer-events: none;
    background-color: #EFF4FF;
    border: none;
    color: #2557D6;
    padding: 6px 15px;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 13px;
    border-radius: 100px;
    font-size: .8em
}

#issues {
    column-count: 4;
    column-gap: 20px;
}

.issue {
    padding-bottom: 8px;
}

.issue a {
    color: inherit
}

.align-right {
    text-align: right;
}

.is-hidden {
    display: none;
}


@media (max-width: 1100px) {

    .nav-2 {
        display: none;
    }

    #issues {
        column-count: 3;
    }

}

@media (max-width: 750px) {

    #issues {
        column-count: 2;
    }

}

@media (max-width: 482px) {
    /* nav li:not(:first-child) {
        display: none;
    } */

    span.header-details {
        display: none;
    }

    .card {
        grid-template-rows: none;
    }

    h2 {
        margin-bottom: 10px
    }

    #issues {
        column-count: auto;
    }

    span#filtered-by {
        display: none;
    }
}







#popular {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#popular thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

#popular th,
#popular td {
    padding: 12px 15px;
}

#popular tbody tr {
    border-bottom: 1px solid #dddddd;
}

#popular tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#popular tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}